<div class="well container">
	<h1 style="text-align: center;">{{vm.topic.hashtopic}}</h1>
	<p>{{vm.topic.summary}}</p>
	
</div>
<br>
<div>
	<ul>
		<li ng-repeat="c in vm.topic.comments">
			{{c.user.username}} : {{c.body}}
			<button class="btn btn-danger" ng-click="vm.deleteComment(c)">Delete</button>
		</li>
	</ul>
</div>
<div class="container" ng-if="nav.status.id">
	<div style="text-align:center;">
		<button class="btn btn-lg btn-primary" ng-show="!addComment" ng-click="addComment = true;">Add Comment</button>
		<form class="form-inline" ng-show="addComment">
			<input class="form-control" ng-model="vm.newComment" placeholder="Comment...">
			<button  class="btn btn-success" ng-click="addComment = false; vm.createComment();">Submit</button>
			<button class="btn btn-danger" ng-click="addComment = false;">Cancel</button>
		</form>
	</div>
</div>