body, #userTopics, .well {
	background-color: white;
	font-style: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #319C38;
}

a {
	color: #777;
	margin: auto 3px;
}

a:active, a:visited, a:active {
	text-decoration: none;
	color: #319C38;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
}
/*------NAVIGATION BAR-----------------------------*/

#navigation {
	padding: auto;
	color: #777;
	background-color: #e3efc9;
	border-bottom: thin solid #319C38;
	height: 60px;
}

.navGlyphs, .topicGlyphs {
	font-size: 1.3em;
}

.topicGlyphs {
	margin: -3em .3em 0em .3em;
}

#mainTitle {
	margin-top: -17px;
	text-align: center;
	color: #319C38;
	font-size: 3em;
	font-weight: bold;
}

#loggedInUsername {
	padding: auto .3em;
	color: blue;

}

/*------NAVIGATION BAR END-----------------------------*/


#userTopics {
	width: 600px;
	margin:auto;
	border: thick solid #e3efc9;
}
#posts {
	color: #319C38;
}

#mainActions {
	height: 90px;
	margin-top: 5%;
	text-align: center;

}

/*------FRIENDS-----------------------------*/

#friends h4, h6 {
	text-shadow: none;
}

#friends {
	margin: 3em .5em;
}

